h1{
    background-color: tomato;
    color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.295);
}